*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary

uniaibench/analysis/data/** linguist-generated=true
uniaibench/analysis/tables/** linguist-generated=true
uniaibench/analysis/figures/** linguist-generated=true
